<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<!--    注册之后的服务名-->
    <dubbo:application name="dubbodemo_provider"/>
<!--    配置注册中心地址和端口号-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
<!--    指令消费方和提供方之间通信地址-->
    <dubbo:protocol name="dubbo" port="20888"/>
<!--    扫描包-->
    <dubbo:annotation package="com.atguigu.service.impl"/>


</beans>